.template-header {
    @apply md:max-w-5xl mx-auto flex flex-col md:flex-row lg:rounded-2xl bg-white dark:bg-neutral-800 px-2 md:px-20 py-16 md:py-12;

    &__text-container {
        @apply flex flex-col justify-end md:mr-12 w-full md:w-1/2 px-5 md:px-0;

        &__title {
            @apply text-5xl font-semibold mb-5 text-black dark:text-white text-center md:text-left;
        }

        &__text {
            @apply text-lg font-medium text-black dark:text-white text-center md:text-left mb-5 md:mb-0;
        }
    }

    &__image-container {
        @apply flex justify-center md:justify-end w-full md:w-1/2;

        &__image {
            @apply drop-shadow-2xl;
        }
    }
}

.desktop-Header {
    width: 300px;
}

.mobile-vertical-Header {
    @apply md:mr-12;
    width: 122px;
}

.mobile-horizontal-Header {
    margin-top: 90px;
    width: 300px;
}